# Path to Inkwell content directory (relative or absolute)
# Defaults to ../content/blog relative to this theme directory
CONTENT_DIR=../content/blog

# Site identity
SITE_NAME=My Blog
SITE_DESCRIPTION=
